/* Reset styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "geist mono",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Header and nav styling */
.header {
  height: 2.2rem;
  width: 100%;
  top: 0%;
  z-index: 5;
  background-color: #232042;
  padding: 1rem;
  position: fixed;
  border-bottom: 0.5px solid #ffffff;
}

/* Styling for navigation list */

.header .nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Styling for list items and links in navigation */
.nav-list,
.nav-list-mobile li,
a {
  color: rgb(224, 220, 220);
  text-decoration: none;
  list-style: none;
}
.nav-list {
  margin-top: -0.65rem;
}
/* Hover effect on list items and links */
.nav-list,
.nav-list-mobile li,
a:hover {
  color: rgb(7, 176, 254);
  transition: color 350ms ease-in-out;
}
.mobileNav {
  transform: translateX(200%);
}
.nav-list-mobile {
  position: relative;
  height: 100vh;
  z-index: 10;
  inset: 0 0 0 20%;
  padding: min(20vh, 10rem) 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: hsl(0 0% 0% / 0.71);
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around; /* Support for backdrop filter */
  @supports (backdrop-filter: blur(1rem)) {
    .nav-list-mobile {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(2rem);
    }
  }
}

/* Hamburger menu styles */
.hamburger {
  position: absolute;
  top: 2%;
  left: 90%;
  background-color: #232042;
  color: rgb(224, 220, 220);
  cursor: pointer;
  border: none;
  background: none;
  backdrop-filter: blur(2rem);
  transition: all 200ms;
  z-index: 11;
  /* Support for backdrop filter */
  @supports (backdrop-filter: blur(1rem)) {
    background: none;
    backdrop-filter: blur(2rem);
  }
}

#hamburger-icon {
  height: 1rem;
}
.x {
  z-index: 100;
  background-color: #232042;
  color: rgb(224, 220, 220);
  cursor: pointer;
  backdrop-filter: blur(2rem);
  height: 1.2rem;
  @supports (backdrop-filter: blur(1rem)) {
    background: none;
    backdrop-filter: blur(2rem);
  }
}
/* Welcome secction */
.welcome {
  height: 100vh;
  color: #232042;
  background-color: blueviolet;
  display: grid;
  place-items: center;
  text-align: center;
}
.welcome p {
  color: #232042;
}
/* About section styles */
.about-section {
  background-color: #f2f2f2;
  padding: 2rem;
}

.about-section h2 {
  border-bottom: 0.5px solid #262424;
  padding-bottom: 1rem;
  text-align: center;
  color: rgb(27, 28, 29);
}

/* Styling for the "about" content */
#about {
  height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

#about h2 {
  text-align: center;
  padding-top: 1.5rem;
}

/* Styling for the author image */
.author-image {
  flex: 3;
  order: 1;
  background-image: url(./assets/IMG_20210715_044336_768.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  width: 100%;
  min-height: 30rem;
}

/* Styling for the about text */
.about-text {
  color: rgb(39, 44, 46);
  flex: 2;
  order: 2;
  text-align: center;
  line-height: 1.5;
}

/* skillset section */
.skillset {
  text-align: center;
  padding: 2rem;
}

.skillset h2 {
  border-bottom: 0.5px solid #ffffff;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  color: #232042;
  text-align: center;
}
.toolsContainer {
  width: 100%;
  overflow: hidden;
  position: relative;

  /* -webkit-mask: linear-gradient(90deg, transparent, 20% white); */
  mask: linear-gradient(90deg, transparent, 20% white, white 80%, transparent);
  -webkit-mask: linear-gradient(90deg, transparent, 20% white, white 80%, transparent);
  /* mask: linear-gradient(90deg, white 80%, transparent); */
  /* -webkit-mask: linear-gradient(90deg, white 80%, transparent); */
}
.toolsBox {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
  animation: slideTools 15s linear infinite both;
}
.skill {
  transform: scale(4);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.tool-card {
  height: fit-content;
  flex: 0 0 auto;
  margin-right: 20px;
  transition: transform 0.5s ease-in-out;
  padding: 1rem;
  border-radius: 25px;
  background: #e0e0e0;
  box-shadow: -9px 9px 18px #9d9d9d, 9px -9px 18px #ffffff;
}
.tool-card p {
  padding: 0.5rem 1rem;
  line-height: 1.5;
  text-align: left;
  color: #3a3838;
  font-size: 0.8rem;
}
.tool-card h4 {
  color: #232042;
  text-align: center;
}
.tool-card:hover {
  transform: scale(1.1);
}
.html {
  color: darksalmon;
}
.css {
  color: rgb(38, 90, 169);
}
.javascript {
  color: rgb(252, 216, 36);
}
.react {
  color: rgb(8, 182, 225);
}
.node {
  color: rgb(122, 233, 146);
}

/* Project article section styles */
.project-section {
  background-color: #f2f2f2;
  transition: all 200ms ease-in-out;
  padding: 2rem;
  height: max-content;
}

.project-section h2 {
  color: #232042;
  text-align: center;
  padding-top: 1.5rem;
}

/* Styling for the projects grid */
#projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  justify-content: center;
}

/* Styling for project titles */
.project-title {
  display: block;
  padding: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: #232042;
  text-decoration: none;
}

/* Styling for project images */
.project-image {
  height: 12.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

/* Styling for project card paragraphs */
.project-card p {
  padding: 0.5rem;
  line-height: 1.5;
  text-align: left;
  color: #868686;
  font-size: 0.8rem;
  padding-bottom: 2rem;
}

/* Styling for project cards */
.project-card {
  border-radius: 0.9rem;
  background-color: #fff;
  box-shadow: 0px 3px 32px rgba(0, 0, 26, 0.2);
}

/* Hover effect on project cards */
.project-card:hover {
  transform: translateY(1rem) !important;
  transition: transform 2s linear;
}

/* Contact section styles */
#contact {
  padding: 2rem;
  background-color: #232042;
  color: azure;
  border-bottom: 0.5px solid #ffffff;
}

#contact h2 {
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #ffffff;
  text-align: center;
}
#contact p {
  text-align: center;
  color: azure;
}

/* Styling for the contact content */
.contact {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

/* Styling for the contact labels and icons */
.contact-label {
  padding: 1rem 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "text text text" "ig twitter whatsapp";
  place-items: center;
  gap: 1.2rem;
  color: azure;
  border-radius: 14px;
  border: 0.5px solid azure;
}

/* Styling for the media titles */
.media-title {
  grid-area: header;
}
.text {
  color: #fff;
  padding: 8px;
  grid-area: text;
}
/* Styling for the Instagram icon */
.ig {
  color: rgb(230, 94, 49);
  grid-area: ig;
}

/* Styling for the Twitter icon */
.twitter {
  color: #19dcea;
  grid-area: twitter;
}

/* Styling for the WhatsApp icon */
.whatsapp {
  color: aquamarine;
  grid-area: whatsapp;
}

.media-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.cta {
  color: #fff;
  line-height: 1;
  font-size: 0.8rem;
  text-decoration: none;
}

/* Styling for the contact form */
.contact-form {
  display: flex;
  flex-direction: column;
  justify-items: end;
  gap: 1.5rem;
}

/* Styling for the submit button */
.btn {
  background: none;
  cursor: pointer;
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 32px rgba(182, 182, 236, 0.2);
  color: aliceblue;
}

/* Hover effect on the submit button */
.btn:hover {
  background-color: rgb(0, 187, 255);
}

/* Footer section styles */
.footer {
  padding: 0.625rem;
  text-align: center;
  color: rgb(197, 198, 198);
  background-color: #232042;
}

/*utility animations */
.slideUp {
  animation: slideUp 1s ease-in-out forwards;
}

.bounce-in-left {
  -webkit-animation: bounce-in-left 1.1s both;
  animation: bounce-in-left 1.1s both;
}

.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 1s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.color-change-4x {
  -webkit-animation: color-change-4x 6s linear infinite alternate-reverse both;
  animation: color-change-4x 6s linear infinite alternate-reverse both;
}
/* Keyframes */

@-webkit-keyframes color-change-4x {
  0% {
    background: #19dcea;
  }
  33.3333% {
    background: #b22cff;
  }
  66.666% {
    background: #ea2222;
  }
  100% {
    background: #f5be10;
  }
}
@keyframes color-change-4x {
  0% {
    background: #19dcea;
  }
  33.3333% {
    background: #b22cff;
  }
  66.666% {
    background: #ea2222;
  }
  100% {
    background: #f5be10;
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
    filter: blur(0px);
  }
}
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes slideTools {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(-360%);
  }
}
/* Media queries */
@media (width >= 38.5625rem) {
  .hamburger {
    display: none;
  }
  .sideMenu {
    display: none;
  }
}
@media (width <= 38.5625rem) {
  .header .nav-list,
  .desktopnav {
    display: none;
  }

  /* Styling for "about" and "projects" sections on smaller screens */
  #about,
  #projects {
    padding: 1rem;
  }

  /* Styling for the "about" section on smaller screens */
  .about-section {
    padding: 1rem;
  }

  /* Styling for the "about" content on smaller screens */
  #about {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
  }
  .author-image {
    min-height: 12.5rem;
    margin-bottom: 1rem;
  }
  /* styling the skillset section*/

  .skill {
    transform: scale(2.2);
  }

  /* Styling for the "project" section on smaller screens */
  .project-section {
    padding: 1rem;
  }

  /* Styling for the projects grid on smaller screens */
  #projects {
    padding: 1rem;
  }

  .project-title {
    font-size: 1.2rem;
  }

  .project-image {
    height: 9rem;
    margin-bottom: 0.6rem;
  }

  .project-card p {
    font-size: 0.9rem;
  }

  /* Styling for the "contact" section on smaller screens */
  #contact {
    padding: 1rem;
  }

  .contact {
    padding: 1rem;
  }
  .contact {
    flex-direction: column;
  }
  .contact-form input {
    font-size: 0.9rem;
  }

  #contact .submit-btn {
    width: 4rem;
    font-size: 0.9rem;
  }
}
/* Utility classes */
.no-scroll {
  overflow: hidden;
}
.scale {
  transform: scale(2);
}
.c {
  padding-top: 1rem;
}
.opacity {
  opacity: 0;
  display: none;
}
.mb {
  margin-bottom: 1rem;
}
.active {
  transform: scale(1.3);
}
p {
  padding: 1.2rem;
  color: grey;
}
